/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.header-left {
    display: flex;
    align-items: center;
}

.barra {
    height: 35px; 
    margin-right: 10px;
    margin-left: 8px;
}

.logo {
    height: 60px;
    margin-right: 10px;
    margin-top: 15px;
}

.header-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

.header-right a i {
    margin-right: 5px;
}

main {
    display: flex;
    height: calc(100vh - 100px);
}

.sidebar {
    width: 25%;
    border-right: 1px solid #ccc;
    padding: 25px;
    overflow-y: auto;
}

.sidebar input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.new-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

.new-contact i {
    margin-right: 5px;
}

.contacts {
    list-style:armenian;
    padding: 0;
}

.contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 20px;
}

.contacts li div {
    display: flex;
    flex-direction: column;
}

.contacts img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-top: -20px;
}

.contacts span {
    font-weight: bold;
}

.chat {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.chat-header img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.chat-info h2 {
    margin: 0;
}

.chat-info p {
    margin: 5px 0;
}

.chat-info a {
    text-decoration: none;
    color: #007BFF; 

}

.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.message {
    margin-bottom: 20px;
}

.message.received p {
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.message.sent p {
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    text-align: right;
}

.message span {
    display: block;
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.chat-input {
    display: flex;
    padding: 20px;
    border-top: 1px solid #ccc;
    
}

.chat-input input[type="text"] {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    
}

.chat-input button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-bottom: black;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
    }
    
    .footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    
    .footer-section {
    flex: 1;
    margin: 10px;
    }
    
    .footer-section h3 {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    margin-bottom: 10px;
    }
    
    .footer-section ul {
    list-style: none;
    padding: 0;
    }
    
    .footer-section ul li {
    margin-bottom: 10px;
    }
    
    .footer-section ul li a {
    text-decoration: none;
    color: #bbb;
    }
    
    .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
    }
    
    .burger {
    display: none; /* Escondido por defecto */
    }
    
    .logo-dark {
        height: 100px;
    }



/* Estilo para el menú lateral */
.sidebar-1 {
    position: fixed;
    left: -250px; /* Inicialmente oculto fuera de la pantalla */
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 2000;
    overflow-y: auto;
}

.sidebar-1.active {
    left: 0; /* Muestra el menú cuando tiene la clase 'active' */
}

.sidebar-1 .profile-1 {
    padding: 20px;
    text-align: center;

}

.sidebar-1 .profile-1 img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.sidebar-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-1 ul li {
    padding: 15px 20px;
    border-bottom: 2px solid #444;
}

.sidebar-1 ul li a {
    color: #fff;
    text-decoration: none;
}








ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 100px;
    margin-top: -30px;;
    margin-left: 30px;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
