body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.menu-toggle {
    position: relative;
    cursor: pointer;
}

.menu-toggle span {
    font-size: 24px;
    display: inline-block;
    transition: transform 0.3s;
}

.menu-toggle.active span {
    transform: rotate(90deg);
}

.logo img {
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 2000;
    overflow-y: auto;
}

.sidebar.active {
    left: 0;
}

.sidebar .profile {
    padding: 20px;
    text-align: center;
}

.sidebar .profile img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    width: 90%;
    margin: 20px auto;
    position: relative;
    z-index: 100;
}

.notifications {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.notifications h2 {
    margin-bottom: 20px;
}

.notification {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.notification img {
    height: 50px;
    margin-right: 20px;
}

.notification-content {
    flex: 1;
}

.notification-content h3 {
    margin: 0;
}

.notification-content .time {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}

.notification-content p {
    margin: 0;
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-section h3 {
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom .imagenes img {
    height: 30px;
    margin: 0 10px;
}