body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.header-left {
    display: flex;
    align-items: center;
}

.barra {
    height: 35px; 
    margin-right: 10px;
    margin-left: 8px;
    z-index: 3;
}

.logo {
    height: 60px;
    margin-right: 10px;
    margin-top: 15px;
}

.header-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

.header-right  {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    z-index: 4;
}

.main-content {
    padding: 20px;
}

.hero-section {
    background-size: cover;
    color: rgb(21, 17, 17);
    text-align: center;
    border-radius: 30px;
    /* width: 1170px;
    height: 350px;   */
    /* margin-left: 110px;  */
    position: relative;
    
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
}


.hero-section img {

    position: center;
    width: 83%;
    height: 400px;
    border-radius: 30px;
   

}


.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.0); 
    border-radius: 10px;
}

.hero-section h1
{
    position: absolute;
    top: 20%; /* Ajusta la altura del texto dentro de la imagen */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white; /* Color blanco para que contraste con la imagen */
    z-index: 1; /* Para asegurarse de que esté sobre la imagen */
}

.hero-section h1 {
    font-size: 2rem; /* Ajusta el tamaño del título */
    margin: 0;
}

.hero-section p {
    position: absolute;
    font-size: 1.5rem; /* Ajusta el tamaño del párrafo */
    margin-top: 10px;
    top: 31%;
    left: 49%;
    transform: translateX(-50%);
    text-align: center;
    color: white; /* Color blanco para que contraste con la imagen */
    z-index: 1; /* Para asegurarse de que esté sobre la imagen */
    
}

.hero-section input {
    /* position: relative; */
    width: 65%;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 1); 
    border-bottom: black;
    border-color: black;
    translate: 0px -230px;
    margin-top: 30px;


}

.section-title {
    margin-top: 1px;
    margin-left: 110px; 
}

.action-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 50px; /* Espacio entre tarjetas */
    margin: 40px 105px; /* Ajusta los márgenes según necesites */
}

/* Estilo base para las tarjetas */
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    padding: 20px;
    border: 2px solid black; /* Borde negro */
    align-items: flex-start;
}
.card-1 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    padding: 20px;
    border: 2px solid black; /* Borde negro */
    align-items: flex-start;
}
.card-2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    padding: 20px;
    border: 2px solid black; /* Borde negro */
    align-items: flex-start;
}

/* Estilo para la imagen a la izquierda */
.card img {
    width: 490px;
    height: 165px;
    margin-right: 20px; /* Espacio entre la imagen y el contenido */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 10px;
   
}
.card-1 img {
    width: 350px;
    height: 165px;
    margin-right: 20px; /* Espacio entre la imagen y el contenido */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 20px;
}
.card-2 img {
    width: 250px;
    height: 165px;
    margin-right: 20px; /* Esp  acio entre la imagen y el contenido */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 10px;
}

/* Contenedor para el contenido de la tarjeta */
.card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio entre el título, el texto y el botón */
    flex-grow: 1;
}

/* Estilo para el título */
.card .card-content h3 {
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Estilo para el texto descriptivo */
.card .card-content p {
    font-size: 1em;
    color: #555;
    margin: 0;  
    margin-bottom: -7px; /* Espacio entre el texto y el botón */
    margin-top: 10px;
}



/* Estilos para el botón */
.card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    align-self: flex-start; /* Alinea el botón al inicio del contenedor */
    margin-top: 30px;
}

.card-1 .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    align-self: flex-start; /* Alinea el botón al inicio del contenedor */
    margin-top: 10px;
}
.card-2 .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    align-self: flex-start; /* Alinea el botón al inicio del contenedor */
    margin-top: 10px;
}




.latest-posts {
    display: flex;
    gap: 20px;
}

.profile-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}




 
footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
    }
    
    .footer-content a{
        color: #bbb;
     
    }
    .footer-content p{
        color: #bbb;
        
    }


    .footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    
    .footer-section {
    flex: 1;
    margin: 10px;
    }
    
    .footer-section h3 {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    margin-bottom: 10px;
    }
    
    .footer-section ul {
    list-style: none;
    padding: 0;
    }
    
    .footer-section ul li {
    margin-bottom: 10px;
    }
    
    .footer-section ul li a {
    text-decoration: none;
    color: #bbb;
    }
    
    .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
    }
    
    .burger {
    display: none; /* Escondido por defecto */
    }
    
    .logo-dark {
        height: 100px;
    }





.section-title-1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 125px;
    margin-top: -10px;
    

}

.latest-posts {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 100px;
}

.wine-post {
    width: 50px;
    height: auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex: 2;
    border: 2px solid black; /* Borde negro */
}

.wine-post-header {
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}



.logo-img {
    position: relative;
    width: 118px;
    height: 105px;
    background: white;
    border-radius: 10%;
    padding: 10px;
    z-index: 1;
    margin-top: 135px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.wine-post-content {
    padding: 20px;
}

.wine-post h3 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.quote {
    font-style: italic;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.profile-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    flex: 1;
    margin-right: 100px ;
    border: 2px solid black; /* Borde negro */
    
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.email {
    color: #666;
    margin-bottom: 10px;
}

.profile-card hr {
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
}

.profile-card p {
    font-size: 14px;
    margin: 5px 0;
}














/* Estilo para el menú lateral */
.sidebar {
    position: fixed;
    left: -250px; /* Inicialmente oculto fuera de la pantalla */
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #000000;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 2000;
    overflow-y: auto;
}

.sidebar.active {
    left: 0; /* Muestra el menú cuando tiene la clase 'active' */
}

.sidebar .profile-1 {
    padding: 20px;
    text-align: center;

}

.sidebar .profile-1 img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    border-bottom: 2px solid #444;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}



ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 100px;
    margin-top: -30px;;
    margin-left: 30px;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }





