    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    /* Correcciones */
    .content {
        display: flex; /* Utilizar flexbox para organizar en fila */
        justify-content: flex-end; /* Espacio entre productos y descripción */
        align-items: flex-start; /* Alinear al principio verticalmente */
        gap: 40px; /* Espacio entre productos y descripción */
        padding: 20px; /* Espacio alrededor del contenedor */
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #f8f8f8;
    }

    .header-left {
        display: flex;
        align-items: center;
    }

    .barra {
        height: 35px; 
        margin-right: 10px;
        margin-left: 8px;
    }

    .logo {
        height: 60px;
        margin-right: 10px;
        margin-top: 15px;
    }

    .header-right a {
        margin-left: 20px;
        text-decoration: none;
        color: #000;
    }

    .main-content {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        border-color: black;
    }

    .hero {
        flex: 3;
        position: relative;
        height: 385px; 
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: white;
        margin-bottom: 50px;
    }

    .hero h2 {
        color: #000;
        margin-top: 40px;
    }

    .hero-text-and-buttons p {
        color: #000;
        margin-left: 60px;
    }

    .hero-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 1; 
    }

    .hero-background img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1; 
        position: absolute;
        top: 0;
        left: 0;
    }

    .hero-content {
        position: absolute;
        top: 110%;
        left: 20%;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
        padding: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        text-align: center;
    }

    .hero-content img {
        width: 20%;
        height: auto;
        margin-top: 0;
        margin-left: 45px;
        margin-right: 50px;
        background-color: white; 
        padding: 10px; 
        position: ab;
        border-radius: 5px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    }

    .hero-buttons {
        margin-top: 30px;
    }

    .hero-buttons button {
        margin: 0 10px;
        padding: 10px 20px;
        border: none;
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    .profile {
        flex: 1; 
        padding: 35px;
        background-color: white; 
        margin-left: auto; 
        max-width: 800px; 
       
    }
    
    .profile-card {
        text-align: center;
        border: 1px solid #ccc;
        height: 100;
        max-width: 800px;
        margin: 0 auto;
        right: 800px;
    }
    
    .profile-card img {
        border-radius: 300%;
        width: 90px; 
        height: 90px; 
        padding-top: 20px;
    }




    .description {
    margin: 20px 0;
    
}

.description-text {
    margin-bottom: 10px;
}

.edit-button, .delete-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.edit-button {
    background-color: #007bff;
}

.delete-button {
    background-color: #dc3545;
}

.button-container {
    margin-top: 10px;
}

textarea.edit-description-text {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin-top: 10px;
}

input[type="file"].edit-image {
    margin-top: 10px;
}


.description {
    /* margin: 20px 0; */
    margin-top: 178px;
    
}

/* .description-text {
    margin-bottom: 10px;
} */

.edit-button, .delete-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.edit-button {
    background-color: #007bff;
}

.delete-button {
    background-color: #dc3545;
}

.button-container {
    margin-top: 10px;
}

textarea.edit-description-text {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin-top: 10px;
}

input[type="file"].edit-image {
    margin-top: 10px;
}







    
    
    /* .description {


        flex: 1; 
        padding: 20px;
        background-color: #f8f8f8; 
        border: 1px solid #ddd; 
        border-radius: 8px;
        margin-top: 160px;
        text-align: left; 
        margin-left: -25px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #f9f9f9; 
        border: 1px solid #ddd; 
        border-radius: 8px; 
        position: relative; 
        

    }

    .products {
        padding: 20px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 40px; 
        margin-top: 160px;
        margin-left: -65px;
    }

    .products h3 {
        margin-bottom: 20px;
    }

    .product {
        text-align: center;
    }

    .product img {
        width: 50%;
        height: auto;
    } */


.products {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 160px;
 
}

.product {
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product h4 {
    margin: 10px 0;
}

.product .description {
    margin: 10px 0;
}

.product button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.product button:hover {
    background-color: #333;
    color: #ccc;
}

.product .edit-button {
    background-color: black;
}

.product .edit-button:hover {
    background-color: gray;
}

.product .delete-button {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: 2px solid black; /* Borde negro */
    padding: 10px 20px; /* Espaciado interno opcional */
    font-size: 16px; /* Tamaño de fuente opcional */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados opcional */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    
}

.product .delete-button:hover {
    background-color: #c82333;
    background-color: #dc3545; /* Fondo rojo en hover */
    color: white; /* Texto blanco en hover */
}

.product .edit-description {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.product .edit-image {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.product .save-button {
    background-color: #28a745;
}

.product .save-button:hover {
    background-color: gray;
}

.product .cancel-button {
    background-color: #6c757d;
}

.product .cancel-button:hover {
    background-color: #5a6268;
}








    .hero-content h2 {
        margin: 10px 0; 
    }

    .hero-content p {
        margin: 10px 0; 
        margin-left: 35px;
        margin-top: 25px;
    }

    .hero-text-and-buttons {
        margin-top: 10px; 
        text-align: center;
    }

    .header-right a {
        margin-left: 20px;
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
    }

    .header-right i {
        margin-right: 10px; 
    }

    .header-right {
        display: flex;
        align-items: flex-start; 
    }

    footer {
        background-color: #000000;
        color: #fff;
        padding: 20px 0;
        margin-top: 40px;
    }

    .footer-content {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-section {
        flex: 1;
        margin: 10px;
    }

    .footer-section h3 {
        border-bottom: 1px solid #555;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
    }

    .footer-section ul li {
        margin-bottom: 10px;
    }

    .footer-section ul li a {
        text-decoration: none;
        color: #bbb;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid #555;
        padding-top: 10px;
    }

    .burger {
        display: none; /* Escondido por defecto */
    }

    .logo-dark {
        height: 100px;
    }



    /* Estilo general de los botones */
button {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

/* Estilo para botones con iconos */
button i {
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

/* Efecto de hover */
button:hover {
    background-color: #333; /* Fondo negro más oscuro */
    color: #ccc; /* Texto en gris claro */
}

/* Estilo para los botones en las secciones específicas */
.hero-buttons button {
    margin: 5px; /* Espaciado entre los botones */
}

/* Estilo para botones en otras secciones */
.products button {
   
    margin: 10px 0; /* Espaciado vertical */
    width: 170px; /* Botones ocupan todo el ancho disponible */

}

/* Estilo general de la sección de descripción */
.description {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9; /* Color de fondo opcional */
    border: 1px solid #ddd; /* Borde opcional */
    border-radius: 8px; /* Bordes redondeados opcional */
    position: relative; /* Necesario para posicionar el botón absoluto */
}

/* Estilo del contenido de la descripción */
.description p {
    margin-bottom: 20px; /* Espacio entre párrafos */
}

/* Estilo del contenedor de los botones */
.description .button-container {
    display: flex; /* Usa Flexbox para los botones */
    gap: 10px; /* Espacio entre los botones */
    margin-top: auto; /* Empuja el contenedor al final del contenedor principal */
    justify-content: flex-end; /* Alinea los botones al final del contenedor */
}

/* Estilo de los botones */
.description .edit-button,
.description .delete-button {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

/* Estilo para los botones en hover */
.description .edit-button:hover,
.description .delete-button:hover {
    background-color: #333; /* Fondo negro más oscuro */
    color: #ccc; /* Texto en gris claro */
}

















/* Ajustar el tamaño y el estilo de la sección de descripción */
#description-section {
    padding: 20px;
    margin: 0 auto;
    max-width: 650px; /* Ancho máximo de la sección */
    background-color: #f9f9f9; /* Fondo de la sección */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-top: 180px;
}

#description-section h3 {
    font-size: 24px;
    color: #333; /* Color del texto del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    font-family: 'Arial', sans-serif; /* Familia de fuente para el título */
}

.description-text {
    font-size: 16px;
    color: #555; /* Color del texto */
    line-height: 1.6; /* Espaciado entre líneas */
    margin-bottom: 15px; /* Espacio entre párrafos */
    font-family: 'Georgia', serif; /* Familia de fuente para el texto */
}

.button-container {
    margin-top: 20px; /* Espacio arriba de los botones */
    text-align: center; /* Centrar los botones */
}

.edit-button, .delete-button {
    background-color: black; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno del botón */
    margin: 5px; /* Espacio entre botones */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo mano al pasar sobre el botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    border-color: #000;
    border: black;
    border: 2px solid #000; /* Borde negro */
}

.delete-button {
    background-color: white; /* Color de fondo para el botón de borrar */
    color: #000;
    border: black;
    border-bottom: #000;
    border: 2px solid #000; /* Borde negro */
   
}

.edit-button:hover, .delete-button:hover {
    opacity: 0.8; /* Efecto de opacidad al pasar el mouse */
}
.delete-button:hover{
    background-color: red;
}



.save-button, .cancel-button {
    background-color: #28a745; /* Color de fondo para el botón de guardar */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde por defecto */
    padding: 10px 20px; /* Espaciado interno del botón */
    margin: 5px; /* Espacio entre botones */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo mano al pasar sobre el botón */
    font-size: 16px; /* Tamaño de fuente del botón */
}

.cancel-button {
    background-color: #dc3545; /* Fondo rojo para el botón de cancelar */
}

.cancel-button:hover {
    background-color: #c82333; /* Color de fondo al pasar el mouse (opcional) */
}

.save-button:hover {
    background-color: #218838; /* Color de fondo al pasar el mouse (opcional) */
}





/* Estilo para las áreas de texto en modo edición */
.edit-description-1-text {
    width: 100px; /* Ocupa todo el ancho del contenedor */
    height: 150px; /* Altura fija para que sea más grande */
    padding: 10px; /* Espacio interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente más grande */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
    resize: vertical; /* Permite cambiar el tamaño verticalmente */
    margin-bottom: 10px; /* Espacio debajo del área de texto */
  
}


textarea.edit-description-text {
    width: 650px;
    height: auto;
    min-height: 150px;
    margin-top: 10px;
}

/* Estilo para el botón de cancelar */
.cancel-button {
    background-color: #ccc; /* Fondo gris */
    color: #000; /* Texto negro */
    border: 1px solid #aaa; /* Borde gris oscuro */
}








    /* Estilo para el menú lateral */
    .sidebar {
        position: fixed;
        left: -250px; /* Inicialmente oculto fuera de la pantalla */
        top: 0;
        height: 100%;
        width: 250px;
        background-color: #333;
        color: #fff;
        transition: left 0.3s ease;
        z-index: 2000;
        overflow-y: auto;
    }

    .sidebar.active {
        left: 0; /* Muestra el menú cuando tiene la clase 'active' */
    }

    .sidebar .profile-1 {
        padding: 20px;
        text-align: center;
    }

    .sidebar .profile-1 img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .sidebar ul li {
        padding: 15px 20px;
        border-bottom: 2px solid #444;
    }

    .sidebar ul li a {
        color: #fff;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .example-2 {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-right: 100px;
        margin-top: -20px;
        margin-left: 30px;
    }

    .example-2 .icon-content {
        margin: 0 10px;
        position: relative;
    }

    .example-2 .icon-content .tooltip {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        padding: 6px 10px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        font-size: 14px;
        transition: all 0.3s ease;
    }

    .example-2 .icon-content:hover .tooltip {
        opacity: 1;
        visibility: visible;
        top: -50px;
    }

    .example-2 .icon-content a {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #4d4d4d;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
    }

    .example-2 .icon-content a:hover {
        box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
    }

    .example-2 .icon-content a svg {
        position: relative;
        z-index: 1;
        width: 30px;
        height: 30px;
    }

    .example-2 .icon-content a:hover {
        color: white;
    }

    .example-2 .icon-content a .filled {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #000;
        transition: all 0.3s ease-in-out;
    }

    .example-2 .icon-content a:hover .filled {
        height: 100%;
    }

    .example-2 .icon-content a[data-social="linkedin"] .filled,
    .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
        background-color: #0274b3;
    }

    .example-2 .icon-content a[data-social="github"] .filled,
    .example-2 .icon-content a[data-social="github"] ~ .tooltip {
        background-color: #24262a;
    }

    .example-2 .icon-content a[data-social="instagram"] .filled,
    .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
        background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,  
        #e1306c,
        #fd1f1f
        );
    }

    .example-2 .icon-content a[data-social="youtube"] .filled,
    .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
        background-color: #ff0000;
    }
