body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 30px;
    color: #ffffff;
}
.logo img {
    width: 200px; /* Cambia este valor al tamaño deseado */
    height: auto; /* Mantener auto preserva las proporciones */
}



header .logo {
    margin-right: auto; /* Mueve el logo a la izquierda */
    font-size: 1.5em;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: flex-end; /* Mantiene el resto del contenido a la derecha */
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: flex-end;
}

.nav-item img {
    width: 25px; /* Tamaño de los iconos */
    height: 25px;
    margin-right: 8px;
}

/* Estilo para los contenedores con borde */
.bordered {
    border: 1px solid #040404;
    border-radius: 25px;
    
    
    
}


.bordered a {
    color: #040404;
    font-weight: bold;
    text-decoration: none;
    
    
}

.nav-item:active {

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al hacer clic */
    transition: background-color 0.1s ease, box-shadow 0.1s ease; /* Suaviza la transición */
}



.no-border img {
    margin-right: 10px;
}



/* Para asegurarse de que todos los items estén en la misma fila */
nav .nav-item:last-child {
    border: 1px solid #040404;
    border-radius: 25px;
    padding: 3px 10px;
}
.Inversor{
    color: #666666;
    font-weight: bold;
    
}





.main-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.hero {
    flex: 3;
    position: relative;
    height: 385px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin-bottom: 50px;
    
}
.hero h2{
    color: #000;
    margin-top: 40px;
}
.hero-text-and-buttons p{
    color: #000;
    margin-left: 60px;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1; 
}

.hero-background img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
    position: absolute;
    top: 0;
    left: 0;
}

.hero-content {
    position: absolute;
    top: 110%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    text-align: center;
}

.hero-content img {
    width: 20%;
    height: auto;
    margin-top: 0;
    margin-left: 0px;
    margin-right: 50;
    background-color: white; 
    padding: 10px; 
    position:ab;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.hero-buttons {
    margin-top: 20px;
}

.hero-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.profile {
    flex: 1; 
    padding: 35px;
    background-color: white; 
    margin-left: auto; 
    max-width: 800px; 
   
}

.profile-card {
    text-align: center;
    border: 1px solid #ccc;
    height: 100;
    max-width: 800px;
    margin: 0 auto;
    right: 800px;
}

.profile-card img {
    border-radius: 300%;
    width: 90px; 
    height: 90px; 
    padding-top: 20px;
}

.description {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
    margin-top: 175px;
    margin-bottom: 30px;
    
}

.products {
    
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.products h3 {
    margin-bottom: 20px;
}

.product {
    text-align: center;
}

.product img {
    width: 50%;
    height: auto;
}






.hero-content h2 {
    margin: 10px 0; 
}

.hero-content p {
    margin: 10px 0; 
    margin-left: 30px;
}

.hero-text-and-buttons {
    margin-top: 10px; 
    text-align: center;
}

.header-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.header-right i {
    margin-right: 10px; 
}

.header-right {
    display: flex;
    align-items: flex-start; 
}


footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
    }
    
    .footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    
    .footer-section {
    flex: 1;
    margin: 10px;
    }
    
    .footer-section h3 {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    margin-bottom: 10px;
    }
    
    .footer-section ul {
    list-style: none;
    padding: 0;
    }
    
    .footer-section ul li {
    margin-bottom: 10px;
    }
    
    .footer-section ul li a {
    text-decoration: none;
    color: #bbb;
    }
    
    .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
    }
    
    .burger {
    display: none; /* Escondido por defecto */
    }
    
    .logo-dark {
        height: 100px;
    }




/* Estilo para el menú lateral */
.sidebar {
    position: fixed;
    left: -250px; /* Inicialmente oculto fuera de la pantalla */
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 2000;
    overflow-y: auto;
}

.sidebar.active {
    left: 0; /* Muestra el menú cuando tiene la clase 'active' */
}

.sidebar .profile-1 {
    padding: 20px;
    text-align: center;

}

.sidebar .profile-1 img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    border-bottom: 2px solid #444;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}



ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 100px;
    margin-top: -30px;;
    margin-left: 30px;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }