* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

.header-left {
  display: flex;
  align-items: center;
}

.menu-toggle img {
  font-size: 24px;
  cursor: pointer;
  
}

.barra {
  height: 35px; 
  margin-right: 10px;
  margin-left: 8px;
}

.logo {
  height: 60px;
  margin-right: 10px;
  margin-top: 15px;
}
.logo img {
  height: 80px;
}
.header-right a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
}

.header-right a i {
  margin-right: 5px;
}








main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.message {/*coloca el fondo del centro o recuadro */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.message-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sender-logo {
    height: 50px;
    margin-right: 20px;
}

.sender-info strong {
    display: block;
    font-size: 18px;
}

.sender-info span {
    color: #888;
    font-size: 14px;
}

.message-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.message-content h3 {
    font-size: 20px;
    margin-top: 20px;
}

.message-content ul {
    list-style: none;
    margin-left: 20px;
}

.message-content ul li {
    margin-bottom: 10px;
}



.message-actions { /*coloca eliminar a la derecha */
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.message-actions .delete-btn, .message-actions .reply-btn { /*acomoda los botones eliminar */
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}




.notification {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.footer-content a{
    color: #bbb;
  }
footer {/*maneja lod eabajo */
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
}

.footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #bbb;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;

}

ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
   justify-content: start;
   margin-right: 100px;
   align-items: start;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }