/* Estilo para el body para que ocupe el 100% de la altura de la ventana */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 30px;
  color: #ffffff;

}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
}



nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.nav-item img {
  width: 25px; /* Tamaño de los iconos */
  height: 25px;
  margin-right: 8px;
}

/* Estilo para los contenedores con borde */
.bordered {
  border: 1px solid #040404;
  border-radius: 25px;
  
  
  
}


.bordered a {
  color: #040404;
  font-weight: bold;
  text-decoration: none;
  
  
}

.nav-item:active {

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al hacer clic */
  transition: background-color 0.1s ease, box-shadow 0.1s ease; /* Suaviza la transición */
}



.no-border img {
  margin-right: 10px;
}



/* Para asegurarse de que todos los items estén en la misma fila */
nav .nav-item:last-child {
  border: 1px solid #040404;
  border-radius: 25px;
  padding: 3px 10px;
}
.Inversor{
  color: #666666;
  font-weight: bold;
  text-decoration: none; 
}

.menu-toggle img {
  font-size: 24px;
  cursor: pointer;
  
}






.review-container {
  flex: 1;

  width: 70%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
}

.review-container h1 {
  margin-bottom: 20px;
}

.review-box {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.review-header img{
  width: 140px;
  height: 140px;
}

.company-logo {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 20px;
}

.review-info {
  flex-grow: 1;
 
}

.review-info h2 {
margin: 0;
font-size: 20px;
float: left;
margin-bottom: 10px; /* Agrega un espacio entre el h2 y el siguiente elemento */
}

.review-info p {
clear: both; /* Limpia el flotado */
margin: 0;
font-size: 14px;
color: gray;
}


.rating {
  font-size: 24px;
  color: #ccc;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.star {
  color: #ccc; /* Estrellas por defecto en gris */
}

.star.selected,
.star:hover,
.star:hover ~ .star {
  color: #ffcc00; /* Color amarillo para las estrellas seleccionadas */
}

.review-content p {
  margin: 10px 0;
  line-height: 1.5;
}
.reply-button {
padding: 10px 40px 10px 10px; 
background-color: #000000;
color: #fff;
border: 2px solid #fff; 
border-radius: 5px;
cursor: pointer;
margin-top: 40px; 
display: block;
float: right; 


}



.reply-button:hover {
  background-color: #444;
}

.box {
width: 98%;
border: 1px solid #000;
border-radius: 10px;
padding: 10px;
display: inline-block;
}
.stars {
/*  Estilos de las estrellas */
font-size: 20px;
color: #ccc;

}
.stars span {
font-size: 20px;
color: #ccc;

}



footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin-top: 40px;
}

.footer-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #bbb;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 10px;

}

ul {
  list-style: none;
}

.example-2 {
  display: flex;
 justify-content: start;
 margin-right: 100px;
 align-items: start;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}