body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    
}
.menu-toggle span {
    font-size: 24px;
    cursor: pointer;
    
}
.logo img {
    height: 80px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    
}
nav ul li img{
    width: 20px;
    height: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 0;
    
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    width: 90%;
    margin: 20px auto;
}

.notifications {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

}

.notifications h2 {
    
    margin-bottom: 40px;
}

.notification {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.notification img {
    height: 50px;
    margin-right: 20px;
}

.notification-content {
    flex: 1;
}

.notification-content h3 {
    margin: 0;
}

.notification-content .time {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}

.notification-content p {
    margin: 0;
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
}

.footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #bbb;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;

}
.imagenes {
    display: flex;
      /* Centra las imágenes horizontalmente */
    margin-top: 10px; /* Espacio entre el párrafo y las imágenes */
    }

    .imagenes img {
    width: 30px; /* Tamaño deseado */
    margin: 0 10px; /* Espacio entre las imágenes */
}
.sidebar {
    position: fixed;/*maneja el menu de barras */
    left: -300px; /* maneja la salida de el menu de barras*/
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 2000;
    overflow-y: auto;
}

.sidebar.active {
    left: 0;
}

.sidebar .profile {
    padding: 20px;
    text-align: center;
}

.sidebar .profile img {/*maneja la imagen del menu */
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {/* maneja el espacio de las opciones del menu, y color */
    padding: 15px 20px;
    border-bottom: 2px solid #444;
}

.sidebar ul li a { /* maneja el color de las letras del menu */
    color: #fff;
    text-decoration: none;
}