body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(img/fondo.png);
    background-size: 100% 100%;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
}

header .menu img {
    height: 70px;
    margin-right: 1em;
}

header .logo img {
    height: 100px;
    margin-right: 20em;
}

nav {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.nav-item img {
    height: 30px;
    margin-right: 0.5em;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 150%;
}


.container {
    max-width: 1200px;
    margin: 2em auto;
    padding: 1em;
    background-color: transparent;
    box-shadow: none; 
    border-radius: 10px;
    overflow-y: auto; 
    height: 80vh; 
}
.container::-webkit-scrollbar {
    width: 12px; 
}
.container::-webkit-scrollbar-track {
    background: #ffffff; 
    border-radius: 10px; 
    margin: 10px; 
}
.container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px; 
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}







h1 {
    text-align: center;
    margin-bottom: 1em;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 70px; 
}

.image img {
    max-width: 700%; 
    height: 300px;
    border-radius: 15px;
    margin-right: 150px;
    width: 400px;
}


.info {
    flex: 1;
    padding-right: 20px; 
}

.info p {
    margin: 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 4px 0;
    max-width:400%;
}

.details {
    margin-bottom: 20px;
    max-width: 400%
    
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.btn-review, .btn-exit {
    background-color: #000; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px;
    margin-left: 10px; 
    cursor: pointer;
    font-size: 1em;
}

.btn-review:hover, .btn-exit:hover {
    background-color: #333; 
}

.buttons .btn-review,
.buttons .btn-exit {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}
.details {
    max-width: 1300px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
    border-radius: 10px;
}


.buttons .btn-review:hover,
.buttons .btn-exit:hover {
    background-color: #333;
}

footer {
    background-color: #000;
    color: #ccc;
    padding: 1em 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}

.footer-section {
    flex: 1 1 25%;
    margin-bottom: 1em;
}

.footer-section.about .logo img {
    height: 125px;
    margin-bottom: 2em;
}

.footer-section h3 {
    color: #6f6c6c;
    margin-bottom: 1em;
}

.footer-section p, .footer-section a {
    color: #ccc;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5em;
}

.footer-bottom {
    padding-top: 1em;
}

.footer-bottom p {
    color: #ccc;
}
/* esto es js */


/* fin de js */
ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 16px;
    height: 16px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }