body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    background-image: url(img_inversor/fondo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
html, body {
    overflow-x: hidden;
}


.btn a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.sidebar ul li {
    padding: 15px 20px;
    border-bottom: 2px solid #444;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

/* COMIENZO DEL CONTENIDO */

.hero {
    text-align: center;
    background-image: url('../img_inversor/logoplanta.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 200px;
    text-shadow: 
        1px 1px 2px rgba(0, 0, 0, 0.6),
        -1px -1px 2px rgba(0, 0, 0, 0.6), 
        1px -1px 2px rgba(0, 0, 0, 0.6), 
        -1px 1px 2px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 1em;
    width: 800px;
    border-radius: 20px;
    border-color: black;
    border: #000;
}

.main-options {
    padding: 10px 100px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

h2 {
    padding: 2px 100px;
    font-size: 2em;
    margin-bottom: 3px;
    color: #000;
}

.option1 {
    width: 45%;
    text-align: center;
    background-color: white;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;
}

.option1 img {
    width: 40%;
    height: auto;
    border-radius: 10px 10px 0 0;
    align-self: center;
}

.right-options {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.option2 {
    width: 100%;
    background-color: white;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 150px;
}

.option2 img {
    width: 25%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.text-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.option1 h3, .option2 h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.option1 p, .option2 p {
    font-size: 1em;
    margin-bottom: 20px;
}

.option1 .btn, .option2 .btn {
    display: inline-block;
    padding: 5px 20px;
    font-size: 0.8em;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn:hover {
    background-color: #4b4a4a;
}

.publicacion {
    padding: 50px 100px;
    border-radius: 10px;
    border: none;
    max-width: 100%;
    box-sizing: border-box;
}

.contenedor {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    border: solid 2px black;

}

.part1 {
    display: flex;
}

.imgvin {
    width: 100%;
    height: 100%;
}

.imgvino {
    width: 100%;
    overflow: hidden;
    margin-right: 20px;
}

.autor {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.correo {
    display: flex;
    border-bottom: solid 2px black;
}

.perfil {
    margin-top: 10px;
    height: 80px;
    margin-right: 20px;
}

.part2 {
    display: flex;
}

.parrafo {
    margin-top: 30px;
    border: solid 2px black;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin-left: 0px;
}

.frase {
    width: 1000px;
    margin-right: 100px;
    text-align: center;
    margin-left: 100px;
}

.frase p {
    margin-top: -20px;
}

.frase h3 {
    font-size: 2em;
    margin: 10px 0;
    text-align: center;
}

.logoVino img {
    width: 200px;
    height: 200px;
    margin-right: 0px;
    background-color: white;
    margin-top: -150px;
    border: solid 2px black;
    border-radius: 10px;
}

.btn {
    background-color: #000;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 15px auto;
    text-decoration: none;
    display: block;
    width: fit-content;
}

h2 {
    padding-top: 20px;
    margin-bottom: 20px;
}

.btn a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .search-bar input {
        width: 80%;
        max-width: 600px;
    }

    .main-options {
        padding: 10px 50px;
    }

    h2 {
        padding: 20px 50px;
    }

    .frase {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .btn {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: fit-content;
    }
}

@media (max-width: 992px) {
    .main-options {
        flex-direction: column;
    }

    .option1, .right-options {
        width: 100%;
    }

    .option1 {
        margin-bottom: 25px;
    }

    .publicacion {
        padding: 50px;
    }

    .part1 {
        flex-direction: column;
    }

    .imgvino {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .autor {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 100px 20px;
    }

    .hero h1 {
        font-size: 2em;
    }

    .option2 {
        height: auto;
    }

    .option1 img, .option2 img {
        display: none;
    }

    .publicacion {
        padding: 20px;
    }

    .part2 {
        flex-direction: column;
    }

    .logoVino img {
        margin-top: 0;
    }
}

@media (max-width: 576px) {
    .hero h1 {
        font-size: 1.8em;
    }

    .main-options {
        padding: 10px 20px;
    }

    h2 {
        padding: 10px;
        font-size: 1.6em;
    }

    .option2 {
        flex-direction: column;
    }

    .text-content {
        text-align: center;
    }

    .autor {
        font-size: 16px;
    }

    .frase h3 {
        font-size: 30px;
    }
}

/* Estilos adicionales para mantener consistencia */
.logoVino img {
    width: 200px;
    height: 200px;
    margin-right: 0px;
    background-color: white;
    margin-top: -150px;
    border: solid 2px black;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .logoVino img {
        width: 150px;
        height: 150px;
        margin-top: -75px;
    }
}

@media (max-width: 768px) {
    .logoVino img {
        display: none;
    }
    
    .btn {
        margin: 15px auto;
        padding: 5px 15px;
    }
}
/* nuevoo estiloo*/

/* Base styles */
footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
}

.footer-content {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a,
.footer-content a {
    text-decoration: none;
    color: #bbb;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover,
.footer-content a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
}

/* Social icons styles */
.imagenes {
    margin-top: 15px;
}

.example-2 {
    display: flex;
    justify-content: left;
    align-items: center;
    translate: 65px -20px;
    list-style: none;
    padding: 0;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
    color: white;
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

/* Specific social media colors */
.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="twitter"] .filled,
.example-2 .icon-content a[data-social="twitter"] ~ .tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f
    );
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
}

/* Logo responsiveness */
.logoda img {
    max-width: 100%;
    height: auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin: 10px 0;
    }

    .example-2 {
        justify-content: center;
        translate: 0;
    }
}

@media screen and (max-width: 480px) {
    .example-2 .icon-content {
        margin: 0 5px;
    }

    .example-2 .icon-content a {
        width: 40px;
        height: 40px;
    }

    .example-2 .icon-content a svg {
        width: 20px;
        height: 20px;
    }
}